<?xml version="1.0" encoding="utf-8"?>
<launch>

  <node type="sam_node.py" name="sam_node" pkg="ros_sam" output="screen">
    <param name="model" value="vit_h"/>
  </node>

  <node type="rqt_image_view_seg" name="rqt_image_view_seg" pkg="rqt_image_view_seg" output="screen"/>
  <node type="rqt_image_view" name="rqt_image_view" pkg="rqt_image_view"/>

</launch>